html {
    background-color: rgb(75, 75, 75);
}

.Empty {
    background-color: rgb(75, 75, 75);
    height: 120px;
}


.Usedcol {
    color: white;
    text-align: center;
    height: 320px;
}

.Emptyusedcol {
    background-color: rgb(75, 75, 75);
    height: 320px;
}

.pfp {
    padding: 13px;
    height: 370px;
    width: 370px;
}

h4 {
    text-align: center;
}